aniso8601==1.2.1
click==6.7
flasgger==0.6.4
Flask==0.12.2
Flask-Cors==3.0.2
Flask-RESTful==0.3.6
iniherit==0.3.9
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
mistune==0.7.4
psycopg2==2.7.1
python-dateutil==2.6.0
python-dotenv==0.6.4
python-slugify==1.2.4
pytz==2017.2
PyYAML==3.12
six==1.10.0
Unidecode==0.4.20
Werkzeug==0.12.2
yoyo-migrations==5.0.5
